:root{
    --max-with-desktop: 665px;
    --max-with-mobile: 375px;
    --background-color: hsl(214, 47%, 23%) , hsl(237, 49%, 15%);
    --Score-text: hsl(229, 64%, 46%);
}

@font-face{
    font-family: 'Barlow Semi Condense';
    src:url(/assets/font/BarlowSemiCondensed-Thin.ttf);
}

@font-face{
    font-family: 'Barlow Bold Condense';
    src:url(/assets/font/BarlowSemiCondensed-Bold.ttf);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient(var(--background-color));
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Barlow Semi Condense';
}

.game--zone{
    width: var(--max-with-mobile);
    padding: 30px;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
    @media (min-width: 640px) {
        width: var(--max-with-desktop);
    } 
}



.banner{
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

header .score{
    padding: 8px;
    background-color: white;
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: none;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.logo{
    width: 80px;
    height: 60px;
}

.score .title-score{
    color: var(--Score-text);
    font-size: 15px;
}

.score .counter-score{
    color: hsl(229, 25%, 31%);
    font-size: 40px;
    font-family: 'Barlow Bold Condense';
    font-weight: 600;
}


/** Board game **/

.container-game{
    background-image: url("/assets/img/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    flex: 1 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.game-zone{
    display: flex;
    justify-content: space-between;
    @media (min-width: 640px) {
        justify-content: center;
        gap: 100px;
    } 
}


.cotainer-actions{
    display: flex;
    justify-items: center;
    align-items: center;


}

.cotainer-paper-actions{
    align-self: center;
}

.outer-papel-circle, .outer-scissors-circle, .outer-rock-circle, .inner-circle{
    border-radius: 100%;
    padding: 20px;
}

.outer-papel-circle{
    background-color: blue;
}

.outer-scissors-circle{
    background-color: rgb(163, 163, 86);
}

.outer-rock-circle{
    background-color: red;
}


.inner-circle{
    background-color: white;
}


.buttons{
    display: flex;
    justify-content: center;
}

.button-rules{
    padding: 10px 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: medium;
}